<% include header %>


<div class="container">
	<header class="aboutimage">
<h1 class="display-3" style="font-family:Bodoni;">Web Design</h1>

</header>



  <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
  <h1 style="padding:4%;">About HTML and CSS</h1>
      <p>HTML, or Hyper Text Markup Language, is the code used to define colours, graphics, hyperlinks, paragraphs, and other simple elements of a website. It was developed by the founder of the web, Tim Berners Lee, back in 1990.</p>
      <br>
      <p>HTML, or Hyper Text Markup Language, is the code used to define colours, graphics, hyperlinks, paragraphs, and other simple elements of a website. It was developed by the founder of the web, Tim Berners Lee, back in 1990.</p>

      <h3>Who is the target audience?</h3> 
            <ul>
              <li>Beginning web designers</li>
              <li>Web developers</li>
              <li>Graphic designers</li>
            </ul><br>
    <h4>What is HTML? </h4>
       <p>When you write a normal document using a word processor like Microsoft Word/Office, your text is saved in a file with a special format.</p> 
       <p>It is not simply saved as the string of words you typed since the document needs to preserve things like the font you chose, the size of the text, which words are in bold, which italics, and so on.</p>
       <p> The special format includes not only your words, but all these extra information so that the next time Word opens your document, it can display the document with the exact appearance you created earlier. </p>
       <p>In the same way, web pages are simply strings of words put in a special format that web browsers are able to display.</p><br>
    <h4>What is CSS?</h4>
        <p>Cascading Style Sheets, or CSS, allow you to specify things like the font you want on your page, the size of your text, whether the page is to have 2 columns, whether your text is to be in bold or italics, and so on. In other words, it is the part that lets you control the appearance of your web page.</p>
        <p>You may be used to the Microsoft Word "doc" format, where everything from the text you type to the appearance of the document is specified in a single file, transparent to you. On the web, the raw information is specified in HTML and most of the appearance is determined by the CSS.</p><br>

    <h4>What are JavaScript, PHP and Perl?</h4>
        <p>Since the HTML/CSS combination is analogous to the data found in a Word document, it is good only for displaying information. </p>   
        <p>If you want your web pages to do different things depending on the situation, you will need a programming language. For example, some websites want to provide a <a href="https://www.thesitewizard.com/perl/index.shtml"> <font color="red"> <strong> <u>membership facility where people can log into the site</u></strong></font></a>, and access certain information. Other sites provide a <a href="https://www.thesitewizard.com/wizards/feedbackform.shtml"><strong> <u><em>feedback form</em></u></a></strong> so that visitors can contact them. All these things require facilities that a simple document format cannot do.</p>
        <p><a href="https://www.thesitewizard.com/javascripts/index.shtml"><strong> <u><em>JavaScript</em></u></a></strong>, <strong><a href="https://www.thesitewizard.com/php/index.shtml"> <u><em>PHP</em></u></a> </strong>and <strong><a href="https://www.thesitewizard.com/perl/index.shtml"> <u><em>Perl</em></u></a></strong> are three of the most commonly-used programming languages on the Internet. They are used by websites to carry out more complicated operations.
        <p>Programs written in JavaScript run in the web browser itself, so if your website has a JavaScript program, the program will be automatically fetched by your visitor's browser and executed on his/her computer. PHP and Perl programs, on the other hand, run on the computer where your website is located, that is, on your<strong> <a href= "https://www.thefreecountry.com/webhosting/budget1.shtml"><em><u> host's </u></em></a></strong>computer. After the PHP or Perl program does what it needs to do, it sends the result to the visitor's web browser, which merely displays the results.</p>



</article>

    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8" style="padding:4%;">
      <ul class="nav nav-pills nav-stacked">
          <li><a href="mainpage">Announcement</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="example">Example</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li class="active"><a href="about">About</a></li>  
          <li><a href="contact">Contact</a></li>
          <li><a href="searching">Feedback</a></li>
          <li><a href="index">Article</a></li>
        </ul>  
    </aside>

  </div>
<% include footer %>