<% include header %>
<div class="container">

<header class="coursesimage">
<h1 class="display-3" style="font-family:Bodoni;">Web Design</h1>

</header>


  <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
  <h1 style="padding:4%;">Introduction to Web Development</h1>
  <h3>About this course</h3>
    <p>This course is designed to start you on a path toward future studies in web development and design, no matter how little experience or technical knowledge you currently have. The web is a very big place, and if you are the typical internet user, you probably visit several websites every day, whether for business, entertainment or education. But have you ever wondered how these websites actually work? How are they built? How do browsers, computers, and mobile devices interact with the web? What skills are necessary to build a website? With almost 1 billion websites now on the internet, the answers to these questions could be your first step toward a better understanding of the internet and developing a new set of internet skills.  </p><br>
    <p>By the end of this course you’ll be able to describe the structure and functionality of the world wide web, create dynamic web pages using a combination of HTML, CSS, and JavaScript, apply essential programming language concepts when creating HTML forms, select an appropriate web hosting service, and publish your webpages for the world to see. Finally, you’ll be able to develop a working model for creating your own personal or business websites in the future and be fully prepared to take the next step in a more advanced web development or design course or specialization.</p>
  <h3>Who is this class for</h3>
    <p>This course is primarily aimed at the complete novice interested in learning about web development or for someone with some previous experience and would like a refresher of the basics.</p>
    <p>Create By:<strong><em> Hsu Shih Li</em></strong></p><br>
    
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="coursebutton">Choose Courses
    <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#1">Week 1: Course Overview and Website Structure and Hosting</a></li>
        <li><a href="#2">Week 2: Designing Your Own Website: HTML Basics</a></li>
        <li><a href="#3">Week 3: Introduction to Programming Using JavaScript</a></li>
        <li><a href="#4">Week 4: Websites with Style: CSS Properties, Colors and Fonts</a></li>
        <li><a href="#5">Week 5: Creating HTML Forms</a></li>
        <li><a href="#6">Week 6: Creating Web Applications</a></li>
      </ul>
    </div>

    &nbsp;
  
   <h4 id="1"><font color="#D35400">WEEK 1: Course Overview and Website Structure and Hosting</font></h4>
      <p>This first module provides an overview of how websites function, their structure, and the ins and outs of choosing a website name and selecting an online host to house your website. By the end of this module, you'll be able to: find and select a web hosting company; choose an effective domain name; use the host to manage your websites; and discuss how networks and the internet function at a high level.</p><br>

   <h4 id="2"><font color="#D35400">WEEK 2: Designing Your Own Website: HTML Basics</font></h4>
      <p>In this module, we'll begin to explore how to design and create websites by exploring the base language used to power all websites: HTML. By the end of this lesson, you'll be able to: identify and use common HTML tags; add an image to a webpage; create HTML-formatted tables; use hyperlinks to connect a series of webpages; upload your finished HTML pages to a web host; and, learn some tips and tricks for styling pages and practicing your coding.</p><br>

   <h4 id="3"><font color="#D35400">WEEK 3: Introduction to Programming Using JavaScript </font></h4>
      <p>Now that you know some basic HTML, it's time to turn our attention to another common scripting language used to make websites dynamic - that is allowing users to interact with your webpages - JavaScript. While learning about JavaScript, you'll also gain some foundational knowledge common to all programming languages. By the end of this module, you'll be able to: discuss what is meant by dynamic content; perform essential programming language tasks; create simple JavaScript programs; use JavaScript to set up alerts and respond to events, to read input, and to change HTML; and conduct basic JavaScript testing.</p><br>

   <h4 id="4"><font color="#D35400">WEEK 4: Websites with Style: CSS Properties, Colors and Fonts </font></h4>  
      <p>While HTML and JavaScript are very useful for web development, they don't exactly make websites look attractive - that's where cascading style sheets, or CSS, comes into play. While HTML is used to build the structure of our pages and JavaScript is used to provide interactive functionality, CSS is used to graphically design and layout webpages. By the end of this module, you'll be able to: discuss common mistakes in designing a website; identify and apply CSS basics like purpose and syntax; use CSS properties to control fonts, colors, layouts, and other common properties; differentiate between in-line, internal, and external CSS; and practice and test your cascading style sheets.</p><br>

   <h4 id="5"><font color="#D35400">WEEK 5: Creating HTML Forms</font></h4>
      <p>In this lesson, we're going to learn to apply all of the skills we've acquired so far to make a very common, and very useful type of webpage - an HTML form. HTML forms are seen everywhere on the internet and are used to capture particular information from users in a variety of ways. By the end of this module you'll be able to: create basic HTML forms; identify and appropriately use different types of HTML input; validate user input; submit HTML forms; and test how your forms are working and troubleshoot errors.</p><br>

   <h4 id="6"><font color="#D35400">WEEK 6: Creating Web Applications</font></h4>
      <p>In our final module, we're going to explore the basics of designing web applications - programming useful and dynamic webpages that allow our users to interact with them. By the end of this lesson you'll be able to: distinguish between client and server-side development; apply advanced JavaScript programming skills to create logic with selection and iteration; create new features for applications; create more advanced HTML forms; and practice and learn additional troubleshooting and problem-solving techniques. The module wraps with a final peer review activity that will draw upon all of the skills you've learned in this course.</p>         


</article>

    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8" style="padding:4%;">
      <ul class="nav nav-pills nav-stacked">
          <li><a href="mainpage">Announcement</a></li>
          <li class="active"><a href="courses">Courses</a></li>
          <li><a href="example">Example</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="about">About</a></li> 
          <li><a href="contact">Contact</a></li> 
          <li><a href="searching">Feedback</a></li>
          <li><a href="index">Article</a></li>
        </ul>  
    </aside>

<table border="5" align="right"; padding:5px; height: 100px; width: 300px; style="border-color: #906BD9;">
  <tbody>
    <tr><td><strong>&nbsp;Level</strong></td><td>&nbsp;Begginer</td></tr>
    <tr><td><strong>&nbsp;Commitment&nbsp;</strong></td><td>&nbsp;6 weeks of study, 2-3 hours/week</td></tr>
    <tr><td><strong>&nbsp;Language&nbsp;</strong></td><td>&nbsp;English,<em>&nbsp;Subtitles:</em>&nbsp;Spanish</td></tr>
    <tr><td><strong>&nbsp;How to Pass&nbsp;</strong></td><td>&nbsp;Pass all graded assignments to complete the course&nbsp;</td></tr>
    <tr><td><strong>&nbsp;User Ratings&nbsp;</strong></td><td>&nbsp;Average User Rating 4.5<br><a href="https://www.coursera.org/learn/web-development#ratings">&nbsp;See what learners said!</a></td></tr>
   </tbody> 
</table>

</div>
  <% include footer %>