<% include header %>

<div class="container">
	
<header class="exampleimage">
<h1 class="display-3" style="font-family:Bodoni;">Web Design</h1>
</header>


  <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
  <h1 style="padding:4%;">The Basic Examples</h1>
    <h3>If you know nothing about HTML, this is where you start.</h3>
    <h3>To the Reader</h3>
      <p>These tutorials are set up so you can move through them over a week's time. One tutorial per day. However, if you can go faster, do it! Some have told me that they finished the primers in a day. Good luck.</p>
      <iframe width="440" height="250" src="https://www.youtube.com/embed/gT0Lh1eYk78" frameborder="5" scrolling="yes" position="absolute" allowfullscreen ></iframe><br>
  <ul>
      <li><strong><font color=#8000ff family="modern">Primer #1: Introduction</font></strong><br>This is a basic introduction to HTML and covers what you will need to know to begin writing. If you are reading this, you probably have what you need.</li>
      <li><strong><font color=#8000ff>Primer #2: Tags</font></strong><br>This tutorial introduces you to the placing of HTML tags so you can begin to manipulate text.</li>
      <li><strong><font color=#8000ff>Primer #3: Manipulating Text</font></strong><br>Learn how to use tags to make text bigger, smaller, or act as a header for your WWW pages.</li>
      <li><strong><font color=#8000ff>Primer #4: Linking Pages</font></strong><br>This is the hallmark of HTML. Learn how to make a link from your page to any other page on the World Wide Web.</li>
      <li><strong><font color=#8000ff>Primer #5: Images</font></strong><br>Learn how to place images on your page, get text to wrap around them, and how to use them as links to other pages.</li>
     <li><strong><font color=#8000ff>Primer #6: Manipulating Images</font></strong><br>Here you'll be shown how to make images bigger or smaller using HTML commands.</li>
      <li><strong><font color=#8000ff>Primer #7: You've Graduated!</font></strong><br>Here you'll get your diploma, along with some hints on choosing an Internet Service Provider and choosing an HTML Assistant, if you care to use one.</li>
  </ul>

</article>

    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8" style="padding:4%;">
      <ul class="nav nav-pills nav-stacked">
          <li><a href="mainpage">Announcement</a></li>
          <li><a href="courses">Courses</a></li>
          <li class="active"><a href="example">Example</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="about">About</a></li>  
          <li><a href="contact">Contact</a></li>
          <li><a href="searching">Feedback</a></li>
          <li><a href="index">Article</a></li>
        </ul>  
    </aside>

</div>
<% include footer %>