
 <footer class="footer">
    <div class="container-fluid" style="padding:5%; margin:5%;">
      <div class="row">
        <div class="col-xs-4 col-sm">
          <h5> Find Us </h5>
          <p>1061 Lincole Way
            <br>
            San Francisco
            <br>
            CA
            <br>
            United States
           </p> 
          <a href="https://www.google.com.tw/maps/place/16+Lincoln+Way,+San+Francisco,+CA+94122,+USA/@37.7661365,-122.4601803,17z/data=!3m1!4b1!4m5!3m4!1s0x80858750a00e41c1:0x3e5410086a633902!8m2!3d37.7661228!4d-122.4579933?hl=en">Directions</a>
        </div>
          <div class="col-xs-4 col-sm">
            <h5> Contact Us </h5>
              <p>
                <a href="tel:+886932338534"> +886 932338534</a>
                <br>
                <a href="mailto:hsushihli@gmail.com">hsushihli@gmail.com</a>
              </p><br>
          </div>
        <div class="col-xs-4 col-sm">
            <h5>Follow Us </h5>
              <div class="ssk-group ssk-footer">
               <a href="https://www.instagram.com/hsushihli/" class="instagram"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2000px-Instagram_logo_2016.svg.png" width="28" height="28">&nbsp;&nbsp;&nbsp;
                 </a>
               <a href="https://www.facebook.com/jeff.hsu.188/" class="facebook"><img src="https://cdn.worldvectorlogo.com/logos/facebook-4.svg" width="28" height="28">
                 </a>
              </div>
        </div>
          <div class="col-sm-12" style="margin-top:2rem">
            <p class="small"> @ 2017 Project 53 Ltd. All rights Reserved. Registered in Taiwan No: 8394210</p>
          </div>  
      </div>          
    </div>    
  </footer>  


<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>