<% include header %>
	
<div class="container">

<header class="galleryimage">
<h1 class="display-3">Web Design</h1>
</header>



  <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
  <h1 style="padding:4%;">8 killer website galleries to inspire your designs</h1>
  <p>Looking for web design inspiration? Then check out our pick of the best website galleries around.</p>
  <br>

  <p>Website galleries, aka CSS galleries: they're a great source of ideas, as well as keeping us abreast of the latest <strong><a href="https://www.theedesign.com/blog/2017/top-web-design-trends-2018"> <font color="red"> web design trends</font></a></strong>. We all have our go-to web design gallery for quick inspiration when the brief drops on your desk - but are there other sites you might not know about, that could be even more useful?</p>

  <h3><font color="yellow"><a href="https://www.awwwards.com">01. Awwwards</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/2f3200954674801bb1c9e37f9018ef4f-650-80.jpg" alt="awwwards web pic" width="400" height="250"><br>
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/awwwards" ><font color="EF6B14">@awwwards</font></a></li>
  </ul>
  Awwwards is a little different to most website galleries because sites are selected by a jury rather than a single curator. If you sign up to the site you can curate your own choices and create your own favourites list, which very handy if you're looking for a certain niche of website.</p><br>

  <h3><font color="yellow"><a href="https://thefwa.com">02. The FWA</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/b8d7e264197a362134047fdf78b20ea8-650-80.jpg" width="400" height="250"><br> 
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/fwa" ><font color="EF6B14">@fwa</font></a></li>
  </ul>
  The FWA (Favorite Website Awards) is considered the crème de la crème of galleries within the web design industry. Like Awwwards it has its own vibrant community.</p><br>

  <h3><font color="yellow"><a href="http://www.htmlinspiration.com">03. HTML Inspiration</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/41a52317d92710ae300069c67eb867d2-650-80.jpg" width="400" height="250"><br>
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/htmlinspiration"><font color="EF6B14">@htmlinspiration</font></a></li>
  </ul>
   In contrast with the first two web design galleries on our list, HTML Inspiration takes a minimalist approach to its design, letting the work speak for itself. The selection on this website is brilliant and the featured website is nice and big so you don't even need to click on it to appreciate its design.</p><br>

  <h3><font color="yellow"><a href="https://www.siteinspire.com">04. Site Inspire</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/2667e77230a3d8959eaf20aceb07ab3c-650-80.jpg" width="400" height="250"><br>
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/siteinspire" ><font color="EF6B14">@siteinspire</font></a></li>
  </ul>
   Site Inspire is another web design gallery that combines minimal design with finely-honed selection of great sites. It's curated by <a href="https://twitter.com/howell"><strong>Daniel Howell</strong></a>, who tends to favour minimal, clean and responsive websites.</p><br>

  <h3><font color="yellow"><a href="http://www.admiretheweb.com">05. Admire the Web</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/12dc9131d4411627b889df008462ceeb-650-80.jpg" width="400" height="250"><br> 
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/admiretheweb" ><font color="EF6B14">@aadmiretheweb</font></a></li>
  </ul>
  Admire the Web is another web design gallery that features large inspirational screengrabs so you don't have to click on every one. Clear categories and tags make finding what you're looking for a piece of cake.</p><br>

  <h3><font color="yellow"><a href="hhttp://www.unmatchedstyle.com">06. Unmatched Style</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/0e53c53c48ac3ecb05c7e621ad2e3965-650-80.jpg" width="400" height="250"><br> 
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/unmatchedstyle" ><font color="EF6B14">@unmatchedstyle</font></a></li>
  </ul>
  Unmatched Style is a little busier than 3, 4 and 5 on our list, but they do offer some handy extra design resources. The piece de resistance is the colour chart, enabling you to find inspiration via colour.</p><br>

  <h3><font color="yellow"><a href="http://www.styleboost.com/">07. StyleBoost</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/57d304b5ceada61155f49ef72be91130-650-80.jpg" width="400" height="250"><br> 
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/styleboost" ><font color="EF6B14">@astyleboost</font></a></li>
  </ul>
  At 1,439 sites and rising, there's plenty of inspiration to be found here. A nice bonus Styleboost offers is a little summary against each inspiration. Nice and clear web design gallery, this.</p><br>

  <h3><font color="yellow"><a href="hhttp://www.unmatchedstyle.com">08. Make better Websites</a></font></h3>
  <img src="http://cdn.mos.cms.futurecdn.net/0624f7af7b65d672f4cce3a0765b72c7-650-80.jpg" width="400" height="250"><br> 
  <ul>
      <li>Gallery updates: <a href="http://twitter.com/lovelywebsites" ><font color="EF6B14">@lovelywebsite</font></a></li>
  </ul>
  Make Better Websites offers a superb browsing experience. Nice big images accompany submissions and a brilliant refine function makes the site simple and rewarding to use.</p><br>



    

</article>
    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8" style="padding:4%;">
      <ul class="nav nav-pills nav-stacked">
          <li><a href="mainpage">Announcement</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="example">Example</a></li>
          <li class="active"><a href="gallery">Gallery</a></li>
          <li><a href="about">About</a></li> 
          <li><a href="contact">Contact</a></li>
          <li><a href="searching">Feedback</a></li>
          <li><a href="index">Article</a></li>
        </ul>  
    </aside>

</div>
<% include footer %>