<% include header %>

<div class="container">
<header class="searchimage">
<h1 class="display-3" style="font-family:Bodoni;">Web Design</h1>
</header>

<article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">

  <h1 style="padding:4%;">Feedback</h1>

  <h3><em>Write a review article</em></h3>
  <p style="font-family:OpenSans;">Please give us your thoughts and feedback about this website.
  Thank you and have a wonderful day.<br>
  from team HSU</p>
   <a href="/new-entry" class="btn btn-primary pull-right" id="feedbackbutton">
    Write the feedback</a>&nbsp;
  <form method="post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" onclick="addRow()" 
      id="title" name="title" placeholder="Entry article title" required>
    </div>
    <div class="form-group">
      <label for="content">Entry Content</label>
      <textarea class="form-control" id="body"
      name="body" placeholder="Say something!" rows="3" required>
      </textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Post article" class="btn-primary" id="feedbackbutton">
    </div>  
  </form>  
            
</article>

    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8" style="padding:4%;">
      <ul class="nav nav-pills nav-stacked">
          <li><a href="mainpage">Announcement</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="example">Example</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="about">About</a></li>  
          <li><a href="contact">Contact</a></li>
          <li class="active"><a href="searching">Feedback</a></li>
          <li><a href="index">Article</a></li>
        </ul>  
    </aside>
</div>

<% include footer %>